<h1>DASH HOME</h1>

{{!-- all users posts and option to create post --}}

<form class="newPost">
    <input type="text" id="postTitle" placeholder="Post Title" />
    <textarea id="postText" placeholder="Post Content"></textarea>
    <button type="submit">Create</button>
</form>

<div id="blogPosts">
    {{#each serializedPosts as |post|}}
    <div>
        <a href="./dashboard/post/{{post.id}}">{{post.title}}</a>
        <p>{{post.text}}</p>
        <p>{{post.createdAt}}</p>
        <p>{{post.commentsCount}}</p>
        <button data-id="{{post.id}}">delete</button>
    </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>