<div>
    <p>{{title}}</p>
    <p>{{text}}</p>
    <p>{{username}}</p>
    <p>{{createdAt}}</p>
</div>

<div>
    <input type="text" id="title-input"value={{editPost.title}}>
    <textarea id="content-textarea">{{editPost.contents}}</textarea>
    <button class="button is-info" id="update-post" >Update</button>
    <button class="button is-danger" id="delete-post">Delete</button>
</div>