{{!-- post Title, Contents, creaters name, date created, comments, and option to leave a comment(if logged in) --}}
<div>
    <p>{{title}}</p>
    <p>{{text}}</p>
    <p>{{username}}</p>
    <p>{{createdAt}}</p>
</div>
{{#if loggedIn}}
<div>
    <textarea name="comment-body"
        placeholder="Enter a comment here..."
        cols="30"
        rows="2">
    </textarea>
    <button type="submit">Add Comment</button>
</div>
{{/if}}

{{!-- {{#each comment}}
<div>
    <p>{{text}}</p>
    <p>{{user.username}}</p>
    <p>{{createdAt}}</p>
</div>
{{/each}} --}}